@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('~@/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Bambi';
  font-style: normal;
  font-weight: bold;
  src: url('~@/assets/fonts/Bambi/Bambi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/Fahkwang/Fahkwang-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/Fahkwang/Fahkwang-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Fahkwang';
    font-style: normal;
    font-weight:bold;
    src: url('~@/assets/fonts/Fahkwang/Fahkwang-Bold.ttf') format('truetype');
  }
